<footer class="fr-footer mt-auto flex-grow" role="contentinfo">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="{% url 'index' %}" title="Retour à l'accueil">
          <p class="fr-logo">
            Intitulé <br />
            officiel
          </p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
        <ul class="fr-footer__content-list">
          <li>
            <a href="https://info.gouv.fr" rel="noopener external" target="_blank">
              info.gouv.fr
            </a>
          </li>
          <li>
            <a href="https://service-public.fr" rel="noopener external" target="_blank">
              service-public.fr
            </a>
          </li>
          <li>
            <a href="https://legifrance.gouv.fr" rel="noopener external" target="_blank">
              legifrance.gouv.fr
            </a>
          </li>
          <li>
            <a href="https://data.gouv.fr" rel="noopener external" target="_blank">
              data.gouv.fr
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li>
          <a href="#">Plan du site</a>
        </li>
        <li>
          <a href="#">Mentions légales</a>
        </li>
        <li>
          <a href="#">Données personnelles</a>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention explicite de propriété intellectuelle détenue par des tiers,
          les contenus de ce site sont proposés sous
          <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
             rel="noopener external" target="_blank">
            licence etalab-2.0
          </a>.
        </p>
      </div>
    </div>
  </div>
</footer>
