{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Accueil</title>
    <!-- Inclusion de DSFR -->
    <link
      href="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr/dist/dsfr.min.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr/dist/dsfr.module.min.js"
    ></script>
    <!-- Inclusion de Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- En-tête -->
    <header class="fr-header" role="banner">
      <div class="fr-header__body">
        <div class="fr-container">
          <div class="fr-header__body-row">
            <div class="fr-header__brand fr-enlarge-link">
              <div class="fr-header__brand-top">
                <div class="fr-header__logo">
                  <p class="fr-logo">
                    Intitulé <br />
                    officiel
                  </p>
                </div>
                <div class="fr-header__navbar">
                  <button
                    aria-controls="modal-499"
                    class="fr-btn--menu fr-btn"
                    data-fr-opened="false"
                    id="button-500"
                    title="Menu"
                  >
                    Menu
                  </button>
                </div>
              </div>
              <div class="fr-header__service">
                <a href="{% url 'index' %}">
                  <p class="fr-header__service-title">Projet centrale</p>
                </a>
                <p class="fr-header__service-tagline">
                  Baseline - précisions sur l’organisation
                </p>
              </div>
            </div>
            <div class="fr-header__tools">
              <div class="fr-header__tools-links">
                <ul class="fr-btns-group">
                  <li>
                    <a class="fr-btn fr-icon-add-circle-line" href="#"
                      >Créer un espace</a
                    >
                  </li>
                  <li>
                    <a class="fr-btn fr-icon-lock-line" href="#"
                      >Se connecter</a
                    >
                  </li>
                  <li>
                    <a class="fr-btn fr-icon-account-line" href="#"
                      >S’enregistrer</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Contenu principal -->
    <main class="fr-container flex flex-col items-center my-12">
      <h1 class="text-3xl font-bold text-center mb-20">PAGE D'ACCUEIL</h1>
      <div class="flex flex-wrap justify-center gap-8 mb-16">
        <a
          class="flex flex-col items-center justify-center w-28 h-28 rounded-full bg-gray-200 hover:bg-white transition-all shadow-lg"
          href="{% url 'medical' %}"
        >
          <img
            alt="Médical"
            src="{% static 'img/symbole-medical.png' %}"
            class="w-12 h-12 mb-2"
          />
          <span class="font-semibold text-black">Médical</span>
        </a>

        <a
          class="flex flex-col items-center justify-center w-28 h-28 rounded-full bg-gray-200 hover:bg-white transition-all shadow-lg"
          href="{% url 'rh' %}"
        >
          <img
            alt="RH"
            src="{% static 'img/social.png' %}"
            class="w-12 h-12 mb-2"
          />
          <span class="font-semibold text-black">RH</span>
        </a>

        <a
          class="flex flex-col items-center justify-center w-28 h-28 rounded-full bg-gray-200 hover:bg-white transition-all shadow-lg"
          href="{% url 'autres' %}"
        >
          <img
            alt="Autres"
            src="{% static 'img/gestion-de-projet.png' %}"
            class="w-12 h-12 mb-2"
          />
          <span class="font-semibold text-black">Autres</span>
        </a>

        <a
          class="flex flex-col items-center justify-center w-28 h-28 rounded-full bg-gray-200 hover:bg-white transition-all shadow-lg"
          href="{% url 'drhfs' %}"
        >
          <img
            alt="DRHFS"
            src="{% static 'img/social.png' %}"
            class="w-12 h-12 mb-2"
          />
          <span class="font-semibold text-black">DRHFS</span>
        </a>

        <a
          class="flex flex-col items-center justify-center w-28 h-28 rounded-full bg-gray-200 hover:bg-white transition-all shadow-lg"
          href="{% url 'utilisateurs' %}"
        >
          <img
            alt="Utilisateurs"
            src="{% static 'img/social.png' %}"
            class="w-12 h-12 mb-2"
          />
          <span class="font-semibold text-black">Utilisateurs</span>
        </a>
      </div>
    </main>

    <!-- Pied de page -->
    <footer class="fr-footer" role="contentinfo" id="footer-7361">
      <div class="fr-container">
        <div class="fr-footer__body">
          <div class="fr-footer__brand fr-enlarge-link">
            <a
              href="/"
              title="Retour à l'accueil du site - Nom de l'entité (ministère, secrétariat d'état, gouvernement)"
            >
              <p class="fr-logo">
                Intitulé <br />
                officiel
              </p>
            </a>
          </div>
          <div class="fr-footer__content">
            <p class="fr-footer__content-desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut
              labore et dolore magna aliqua. Vitae sapien pellentesque habitant
              morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan
              lacus vel facilisis volutpat est. Ut aliqu
            </p>
            <ul class="fr-footer__content-list">
              <li class="fr-footer__content-item">
                <a href="https://info.gouv.fr" rel="noopener external" target="_blank">
                  info.gouv.fr
                </a>
              </li>
              <li class="fr-footer__content-item">
                <a href="https://service-public.fr" rel="noopener external" target="_blank">
                  service-public.fr
                </a>
              </li>
              <li class="fr-footer__content-item">
                <a href="https://legifrance.gouv.fr" rel="noopener external" target="_blank">
                  legifrance.gouv.fr
                </a>
              </li>
              <li class="fr-footer__content-item">
                <a href="https://data.gouv.fr" rel="noopener external" target="_blank">
                  data.gouv.fr
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fr-footer__bottom">
          <ul class="fr-footer__bottom-list">
            <li>
              <a href="#">Plan du site</a>
            </li>
            <li>
              <a href="#">Mentions légales</a>
            </li>
            <li>
              <a href="#">Données personnelles</a>
            </li>
          </ul>
          <div class="fr-footer__bottom-copy">
            <p>
              Sauf mention explicite de propriété intellectuelle détenue par des
              tiers, les contenus de ce site sont proposés sous
              <a
                href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
                rel="noopener external"
                target="_blank"
              >
                licence etalab-2.0</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
