{% extends "base.html" %} {% load static %} {% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/login_form.css' %}"
/>
{% endblock extra_css %} {% block content %}
<div class="general">
  <h2 style="text-align: center">Connection</h2>
  <form method="post" action="">
    {% csrf_token %} {% if error %}
    <div class="fr-alert fr-alert--error">
      <h3 class="fr-alert__title">Connection impossible</h3>
      <p>Identifiant ou mot de passe incorrect</p>
    </div>
    {% endif %}
    <div class="fr-input-group">{{ form.matricule }}</div>

    <div class="fr-input-group">{{ form.password }}</div>

    <button style="position: relative; left: 40%" type="submit" class="fr-btn">
      Connecter
    </button>
  </form>
</div>

{% endblock content %}