{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ projet.titre }}</title>
    <!-- Inclusion de DSFR et Tailwind CSS -->
    <link href="{% static 'dsfr.min.css' %}" rel="stylesheet" />
    <link href="{% static 'output.css' %}" rel="stylesheet">

</head>
<body class="flex flex-col min-h-screen">
    <!-- Header -->
    {% include 'projet_centrale_app/partials/header.html' %}

    <!-- Main content -->
    <main class="fr-container flex flex-col items-center mt-16 mb-20">
        <h1 class="text-3xl font-bold mb-8 text-center">{{ projet.titre }}</h1>
        <p class="text-lg text-gray-700 mb-12 text-center max-w-2xl">{{ projet.description }}</p>

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 w-full max-w-4xl">
            <!-- Organisation -->
            <div class="fr-card fr-card--no-arrow fr-enlarge-link flex flex-col items-center justify-center p-4" style="height: 250px;">
                <div class="fr-card__body text-center">
                    <h3 class="fr-card__title">
                        <a href="{{ projet.lien }}" target="_blank">Lien vers l'app</a>
                    </h3>
                    <p class="fr-card__desc mt-2">Découvrez l'organisation derrière ce projet.</p>
                </div>
            </div>
            <!-- Vidéo de présentation -->
            <div class="fr-card fr-card--no-arrow fr-enlarge-link flex flex-col items-center justify-center p-4" style="height: 250px;">
                <div class="fr-card__body text-center">
                    <h3 class="fr-card__title">
                         {% if projet.video %}
                            <a href="{{ projet.video.url }}" download>Vidéo de présentation</a>
                        {% else %}
                            Vidéo non disponible
                        {% endif %}
                    </h3>
                    <p class="fr-card__desc mt-2">Visionnez la vidéo de présentation du projet.</p>
                </div>
            </div>


            <div class="fr-card fr-card--no-arrow fr-enlarge-link flex flex-col items-center justify-center p-4" style="height: 250px;">
                <div class="fr-card__body text-center">
                    <h3 class="fr-card__title">
                        <a href="{% url 'info_projet' projet_id=projet.id %}">Descriptif complet</a>
                    </h3>
                    <p class="fr-card__desc mt-2">Accédez aux détails complets du projet.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    {% include 'projet_centrale_app/partials/footer.html' %}
</body>
</html>
