{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Delta Médical</title>
  <link
    href="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr/dist/dsfr.min.css"
    rel="stylesheet"
  />
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/@gouvfr/dsfr/dist/dsfr.module.min.js"
  ></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">
  <!-- En-tête -->
  <header class="fr-header" role="banner">
      <div class="fr-header__body">
        <div class="fr-container">
          <div class="fr-header__body-row">
            <div class="fr-header__brand fr-enlarge-link">
              <div class="fr-header__brand-top">
                <div class="fr-header__logo">
                  <p class="fr-logo">
                    Intitulé <br />
                    officiel
                  </p>
                </div>
              </div>
              <div class="fr-header__service">
                <a href="{% url 'index' %}">
                  <p class="fr-header__service-title">Nom du site / service</p>
                </a>
                <p class="fr-header__service-tagline">
                  Baseline - précisions sur l’organisation
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- Contenu principal -->
  <main class="fr-container flex flex-col items-center mt-20 mb-20 ">
    <h1 class="text-3xl font-bold mb-12">ASA</h1>
    <div class="flex flex-wrap justify-center gap-16 mt-12">
      <!-- Card Connexion -->
      <div class="fr-card fr-enlarge-link  w-64 h-40 ">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <a href="/connexion">Connexion </a>
            </h3>
          </div>
        </div>
      </div>

      <!-- Card Vidéo -->
      <div class="fr-card fr-enlarge-link w-50">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">Vidéo</h3>
            <video controls class="w-full mt-4">
              <source src="{% static 'videos/delta_medical.mp4' %}" type="video/mp4" />

            </video>
          </div>
        </div>
      </div>

      <!-- Card Descriptif complet -->
      <div class="fr-card fr-enlarge-link w-64 h-40">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-card__title">
              <a href="/descriptif/delta_medical">Descriptif complet</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Pied de page -->
  <footer class="fr-footer mt-auto flex-grow" role="contentinfo" id="footer-7361">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a href="/" title="Retour à l'accueil">
          <p class="fr-logo">
            Intitulé <br />
            officiel
          </p>
        </a>
      </div>
      <div class="fr-footer__content">
        <p class="fr-footer__content-desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut
          labore et dolore magna aliqua. Vitae sapien pellentesque habitant
          morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan
          lacus vel facilisis volutpat est. Ut aliqu
        </p>
        <ul class="fr-footer__content-list">
          <li>
            <a href="https://info.gouv.fr" rel="noopener external" target="_blank">
              info.gouv.fr
            </a>
          </li>
          <li>
            <a href="https://service-public.fr" rel="noopener external" target="_blank">
              service-public.fr
            </a>
          </li>
          <li>
            <a href="https://legifrance.gouv.fr" rel="noopener external" target="_blank">
              legifrance.gouv.fr
            </a>
          </li>
          <li>
            <a href="https://data.gouv.fr" rel="noopener external" target="_blank">
              data.gouv.fr
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li>
          <a href="#">Plan du site</a>
        </li>
        <li>
          <a href="#">Mentions légales</a>
        </li>
        <li>
          <a href="#">Données personnelles</a>
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention explicite de propriété intellectuelle détenue par des
          tiers, les contenus de ce site sont proposés sous
          <a
            href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
            rel="noopener external"
            target="_blank"
          >
            licence etalab-2.0</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
